option_settings:
  aws:elasticbeanstalk:application:environment:
    AWS_MEDIA_BUCKET: udagram-_???_-dev
    AWS_PROFILE: DEPLOYED
    AWS_REGION: us-east-1
    DIALECT: postgres
    ENV: PROD
    JWT_SECRET: _???_
    POSTGRES_DATABASE: udagram
    POSTGRES_HOST: udacity._???_.us-east-1.rds.amazonaws.com
    POSTGRES_PASSWORD: _???_
    POSTGRES_USERNAME: _???_